doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    header 
      .container
        header.d-flex.flex-wrap.justify-content-center.py-3.mb-4.border-bottom
          a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href='/')
            svg.bi.me-2(width='40' height='32')
              use(xlink:href='#bootstrap')
            span.fs-4 PC Repair
          ul.nav.nav-pills
            li.nav-item
              a.nav-link(class=title=='Home' ? 'active':undefined href='/' aria-current='page') Home
            li.nav-item
              a.nav-link(class=title=='About' ? 'active':undefined href='/' aria-current='page') About
            li.nav-item
              a.nav-link(class=title=='Services' ? 'active':undefined href='/' aria-current='page') Services
            li.nav-item
              a.nav-link(class=title=='Contact' ? 'active':undefined href='/' aria-current='page') Contact
      
      .container
        block content
      
      .container
        footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4
          .col-md-4.d-flex.align-items-center
            a.mb-3.me-2.mb-md-0.text-muted.text-decoration-none.lh-1(href='/')
              svg.bi(width='30' height='24')
                use(xlink:href='#bootstrap')
            span.text-muted © 2021 Company, Inc


